.tableContainer {
  position: relative;
  max-width: 1600px;
  background-color: var(--backgroundColor);
  margin: 0 auto;
  padding: 0 .625rem;
  animation: colorMode 1s ease 0s 1 normal forwards;
}

.errorModal {
  width: 95%;
  height: 20%;
  position: absolute;
  top: 30%;
  left: .6rem;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: .5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  box-shadow: -1px 1px 15px 0px rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.errorMessage {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.colorMode {
  --backgroundColor: hsl(0, 0%, 100%);
  --inputFieldTextColor: hsl(0, 0%, 0%, 0.4);
  --inputFieldBackgroundColor: hsl(0, 0%, 95%);
  --textColor: hsl(0, 0%, 0%);
  --modeSwitcherTextColor: hsl(0, 0%, 0%);
  --modeSwitcherBackgroundColor: hsl(0, 0%, 96%);
  --modeSwitcherActiveBackgroundColor: hsl(0, 0%, 89%);
  --cardModeSwitcherTextColor: hsl(0, 0%, 44%);
  --cardModeSwitcherActiveTextColor: hsl(0, 0%, 100%);
  --cardModeSwitcherBackgroundColor: hsla(0, 0%, 86%, 0.6);
  --cardModeSwitcherBackgroundActiveColor: rgba(0, 0, 0, 0.22);
  --glossaryTextColor: hsl(0, 0%, 20%);
  --seacrhBarHelpIcon: url('../assets/images/icons/help-black.svg');
}

.photoMode {
  --backgroundColor: transparent;
  --backgroundColorCard: hsl(0, 0%, 100%);
  --inputFieldBackgroundColor: hsla(0, 0%, 100%, 0.08);
  --inputFieldTextColor: hsla(0, 0%, 100%, 0.4);
  --modeSwitcherBackgroundColor: rgba(149, 149, 149, 0.08);
  --modeSwitcherActiveBackgroundColor: hsla(0, 0%, 58%, 0.281);
  --modeSwitcherTextColor: hsla(0, 0%, 100%, 0.75);
  --mainTitleColor: hsl(0, 0%, 100%);
  --textColor: hsl(0, 0%, 100%);
  --caretColor: hsl(0, 0%, 46%);
  --glossaryTextColor: hsla(0, 0%, 100%, 0.749);
  --seacrhBarHelpIcon: url('../assets/images/icons/help-white.svg');
}

.backgroundImage {
  background-image: url('../assets/images/background/static-nebula.jpg');
  background-size: 350%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed, local;
  animation: backgroundImage 4.5s ease 0s 1 normal forwards;
}

@keyframes backgroundImage {
  0% {
    background-position: left center;
    background-size: 300%;
    opacity: .7;
  }

  50% {
    opacity: 1;
  }

  100% {
    background-position: left center;
    background-size: 350%;
  }
}


@keyframes colorMode {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}