.mainTitle {
  display: inline;
  width: 100%;
  position: relative;
  top: .625rem;
  font-weight: 800;
  font-size: 1.75rem;
  color: var(--textColor);
  line-height: 1;
  z-index: 2;
}

@media(min-width: 500px) {
  .mainTitle {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
  }
}