.overlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlayBackgroundColor);
  position: absolute;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: 3;
  visibility: hidden;
  transform: translateY(30%);
  transition: all .5s ease-in;
}

.showOverlay {
  visibility: visible;
  transform: translateY(0);
}