.helpContainer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 4rem;
  left: 0;
  padding-top: 1.25rem;
  color: var(--textColor);
  line-height: 1.7;
  font-size: .9375rem;
  border-radius: 1rem 1rem 0 0;
  opacity: 1;
  z-index: 7;
  transform: translateY(120%);
  transition: all .5s ease-in;
}

.helpOpen {
  transform: translateY(0);
}

.helpContent {
  background-color: var(--backgroundColor);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 1rem 1rem 0 0;
}

.closeBtn {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  padding: 0 1.250rem;
}

.text {
  font-size: .9375rem;
  padding: 1rem 1.250rem;
}