.searchBarContainer {
  width: 100%;
  position: relative;
}

.searchBar {
  width: 88%;
  position: relative;
  font-size: 1.3rem;
  border: transparent;
  border-radius: .8rem;
  padding: 1rem 1rem;
  background-color: var(--inputFieldBackgroundColor);
  animation: blinkCaret 1.2s infinite;
}

.searchBar::placeholder {
  color: var(--inputFieldTextColor);
  font-family: var(--ff-body);
  font-size: 1.125rem;
  font-weight: 500;
}

.helpIcon {
  background-image: var(--seacrhBarHelpIcon);
  background-repeat: no-repeat;
  background-position: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  opacity: .4;
  position: absolute;
  right: 0;
  top: .5rem;
}

@keyframes blinkCaret {
  0% {
    caret-color: var(--caretColor);
  }

  100% {
    caret-color: transparent;
  }
}