.tableRowElement {
  position: relative;
  color: #fff;
  display: flex;
  font-family: var(--font-family);
  flex-direction: column;
  border: transparent;
  justify-content: space-around;
  border-radius: .5rem;
  padding: .4375rem .3125rem;
  cursor: pointer;
}

.elementOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--elementFade);
  border-radius: .5rem;
}

.atomicNumber {
  font-size: .75rem;
  font-weight: 500;
  margin-left: .125rem;
}

.symbol {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2rem;
  margin-top: -.125rem;
  margin-bottom: .125rem;
  position: relative;
  z-index: 2;
}

.name {
  font-size: .815rem;
  font-weight: 600;
}

.atomicMass {
  color: var(--textColor);
  font-size: .75rem;
  font-weight: 500;
  margin-top: .1rem;
}