.mobileToggleButton {
  position: absolute;
  right: .625rem;
  top: 1rem;
  width: 3.125rem;
  height: 3.125rem;
  box-sizing: border-box;
  padding-left: 1.125rem;
  transition: transform .25s ease-out;
  z-index: 3;
}

.toggleButton {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.toggleContainer {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  display: inline-block;
}

.toggleLineOne {
  width: 2rem;
  height: 2px;
  background: #fc6b64;
  position: absolute;
  top: 2px;
  right: 0;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.toggleLineTwo {
  width: 2rem;
  height: 2px;
  top: .625rem;
  right: 0;
  content: '';
  position: absolute;
  background-color: #fac05c;
  opacity: 1;
}

.toggleLineThree {
  width: 2rem;
  height: 2px;
  content: '';
  top: 1.25rem;
  right: 0%;
  position: absolute;
  background-color: #75a3e2;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.isActiveOne {
  transform-origin: center;
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.isActiveTwo {
  opacity: 0;
}

.isActiveThree {
  transform-origin: center;
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}