.cardContainer {
  width: 100%;
  height: 22%;
  position: absolute;
  top: 3rem;
  left: 0;
  border-radius: 1rem 1rem 0 0;
  z-index: 1;
}

.cardEnter {
  transform: translateY(100%);
}

.cardEnterActive {
  transform: translateY(0);
  transition: transform .65s cubic-bezier(.16, 1, .3, 1) 0s, left .2s cubic-bezier(.165, .84, .44, 1) 0s, top .2s cubic-bezier(.165, .84, .44, 1) 0s
}

.cardExit {
  transform: translateY(0);
}

.cardExitActive {
  transform: translateY(100%);
  transition: transform 5s cubic-bezier(.16, 1, .3, 1) 0s, left 5s cubic-bezier(.165, .84, .44, 1) 0s, top .2s cubic-bezier(.165, .84, .44, 1) 0s
}

.cardOverlay {
  width: 100%;
  height: 100%;
  background-color: var(--overlayBackgroundColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.closeBtn {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 0rem;
  right: .3rem;
  cursor: pointer;
  opacity: .5;
}

.closeIcon {
  color: #fff;
  font-size: 3rem;
  font-family: var(--ff-body);
  font-weight: 100;
}