.cardContainer {
  width: 100%;
  height: 22%;
  position: absolute;
  top: 3rem;
  left: 0;
  border-radius: 1rem 1rem 0 0;
  z-index: 1;
}

.cardEnter {
  opacity: 0;
}

.cardEnterActive {
  opacity: 1;
  transition: opacity 5000ms;
}

.cardEnterDone {
  opacity: 1;
}

.overlayBlack {
  width: 100%;
  height: 100%;
  background-color: var(--overlayBackgroundColor);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.closeBtn {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: transparent;
  position: absolute;
  top: 0rem;
  right: .3rem;
  cursor: pointer;
  opacity: .5;
}

.closeIcon {
  color: #fff;
  font-size: 3rem;
  font-family: var(--ff-body);
  font-weight: 100;
}