.carBodyContainer {
  width: 100%;
  padding: 1.5rem 1rem;
  margin: 0 auto;
}

.cardBodyTitle {
  font-size: 1rem;
}

.propertyItems {
  width: 100%;
  position: relative;
  padding-top: .5rem;
}

.propertyTitle {
  font-size: .875rem;
}

.propertyValue {
  position: absolute;
  font-size: .88rem;
  left: 60%;
}

.propertySymbol {
  font-size: .825rem;
  opacity: .5;
  position: absolute;
  top: .65rem;
  left: 50%;
}