.cardlHeaderContainer {
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
}

.atomicNumber {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 100;
  margin: .1rem 0;
}

.symbol {
  color: #fff;
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 1;
  margin: -2rem 0 -1.3rem -.9rem;

}

.name {
  color: #fff;
  font-size: 2.625rem;
  line-height: 1.5;
  margin-left: -.2rem;
}

.atomicMass {
  font-size: 1.75rem;
  margin: -.33rem 0;
  line-height: 1.5;
}

.description {
  font-size: .8rem;
  padding-top: .7rem;
  line-height: 1.5;
}

.maskText {
  width: 100%;
  height: 6rem;
  mask-image: linear-gradient(black, transparent);
}

.cardBtnContainer {
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 24rem;
  left: 0;
  margin-right: auto;
}


.cardBtn {
  background-color: var(#fff);
  border: transparent;
  margin-left: 1rem;
  padding: .1875rem .5625rem;
  border-radius: .3125rem;
  font-size: .75rem;
  font-family: var(--ff-body);
  font-weight: 600;
}