.tableContainer {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: var(--webViewMargin);
  transform: scale(1) translateY(0);
  transform-origin: top;
  border-radius: 0;
  padding: .625rem;
  opacity: 1;
  transition: border-radius .35s ease-out, transform .35s ease-out, padding .35s ease-out, background-color .5s linear, opacity .35s ease-out;
}