.tableContainer {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 .625rem;
  animation: colors .5s ease-in-out;
}

.photoModeActive {
  background-image: url('../assets/images/background/static-nebula.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed, local;
  background-size: 350%;
  animation: backgroundImage .5s ease-in-out;
}

.colorMode {
  --backgroundColor: hsl(0, 0%, 100%);
  --inputFieldTextColor: hsl(0, 0%, 0%);
  --inputFieldBackgroundColor: hsl(0, 0%, 95%);
  --textColor: hsl(0, 0%, 0%);
  --modeSwitcherTextColor: hsl(0, 0%, 0%);
  --modeSwitcherBackgroundColor: hsl(0, 0%, 96%);
  --modeSwitcherActiveBackgroundColor: hsl(0, 0%, 89%);
  --cardModeSwitcherTextColor: hsl(0, 0%, 44%);
  --cardModeSwitcherActiveTextColor: hsl(0, 0%, 100%);
  --cardModeSwitcherBackgroundColor: hsla(0, 0%, 86%, 0.6);
  --cardModeSwitcherBackgroundActiveColor: rgba(0, 0, 0, 0.22);
  --seacrhBarHelpIcon: url('../assets/images/icons/help-black.svg');
}

.photoMode {
  --inputFieldBackgroundColor: hsla(0, 0%, 100%, 0.08);
  --inputFieldTextColor: hsla(0, 0%, 100%, 0.4);
  --modeSwitcherBackgroundColor: rgba(149, 149, 149, 0.08);
  --modeSwitcherActiveBackgroundColor: hsla(0, 0%, 58%, 0.281);
  --modeSwitcherTextColor: hsla(0, 0%, 100%, 0.75);
  --mainTitleColor: hsl(0, 0%, 100%);
  --textColor: hsl(0, 0%, 100%);
  --caretColor: hsl(0, 0%, 46%);
  --seacrhBarHelpIcon: url('../assets/images/icons/help-white.svg');
}

.backgroundImage {
  background-image: url('../assets/images/background/static-nebula.jpg');
  background-size: 350%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed, local;
}

@keyframes backgroundImage {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes colors {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}