.tableContainer {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 .625rem;
}

.photoModeActive {
  background-image: url('../assets/images/background/static-nebula.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed, local;
  background-size: 350%;
}