/* 
=============
Font Family 
=============
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800;900&display=swap');

/*
===============
Variables
===============
*/

:root {
  --colorAlkaliMetal: hsl(2, 97%, 69%);
  --colorNobleGas: hsl(294, 50%, 76%);
  --colorAlkalineEarthMetal: hsl(34, 99%, 64%);
  --colorMetalloid: hsl(197, 76%, 63%);
  --colorNonmetal: hsl(78, 59%, 55%);
  --colorHalogen: hsl(0, 100%, 79%);
  --colorMetal: hsl(216, 67%, 68%);
  --colorPost-transitionMetal: hwb(216 47% 11%);
  --colorTransitionMetal: hsl(209, 59%, 75%);
  --colorLanthanoid: hsl(164, 46%, 75%);
  --colorActinoid: hsl(172, 27%, 60%);
  --colorAlkaliMetalHover: hsl(2, 97%, 69%, 0.7);
  --colorNobleGasHover: hsl(294, 50%, 76%, 0.7);
  --colorAlkalineEarthMetalHover: hsl(34, 99%, 64%, 0.7);
  --colorMetalloidHover: hsl(197, 76%, 63%, 0.7);
  --colorNonmetalHover: hsl(78, 59%, 55%, 0.7);
  --colorHalogenHover: hsl(0, 100%, 79%, 0.7);
  --colorMetalHover: hsla(216, 67%, 68%, 0.7);
  --colorPost-transitionMetalHover: hsl(216, 67%, 68%, 0.7);
  --colorTransitionMetalHover: hsl(209, 59%, 75%, 0.7);
  --colorLanthanoidHover: hsl(164, 46%, 75%, 0.7);
  --colorActinoidHover: hsl(172, 27%, 60%, 0.7);
  --spinnerColor: hsl(2, 97%, 69%);
  --textColor: hsl(0, 0%, 0%);
  --ff-body: 'Open Sans', Helvetica, Arial, sans-serif;
  --backgroundColor: rgba(255, 255, 255);
  --overlayBackgroundColor: hsl(0, 0%, 0%);
  --inputFieldBackgroundColor: hsl(0, 0%, 97%);
  --tableSwitcherActiveColor: hsl(0, 0%, 100%);
  --tableSwitcherBackgroundColor: hsl(0, 0%, 96%);
  --tableSwitcherHoverColor: hsl(0, 0%, 93%);
  --tableSwitcherActiveColor: hsl(0, 0%, 89%);
  --modeSwitcherBackgroundColor: rgba(220, 220, 220, 0.6);
  --modeSwitcherActiveBackgroundColor: rgba(0, 0, 0, 0.22);
  --buttonColor: hsl(0, 0%, 100%);
  --modeSwitcherActiveColor: hsl(0, 0%, 100%);
}

/*
=================
Resets
=================
*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: transparent;
}

li {
  list-style: none;
}

/*
=================
Body Styles 
=================
*/

body {
  font-family: var(--ff-body);
}