/* 
=============
Font Family 
=============
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800;900&display=swap');

/*
===============
Variables
===============
*/

:root {
  --colorAlkaliMetal: #fd6863;
  --colorNobleGas: #daa2e0;
  --colorAlkalineEarthMetal: #feb149;
  --colorMetalloid: #5ac0e8;
  --colorNonmetal: #a7d04a;
  --colorHalogen: #ff9595;
  --colorMetal: #75a1e4;
  --colorPost-transitionMetal: #75a1e4;
  --colorTransitionMetal: #99c0e5;
  --colorLanthanoid: #a0dccc;
  --colorActinoid: #7fb5ae;
  --colorAlkaliMetalHover: #fe716f;
  --colorNobleGasHover: #e4acea;
  --colorAlkalineEarthMetalHover: #ffb854;
  --colorMetalloidHover: #60cbf3;
  --colorNonmetalHover: #b1d856;
  --colorChalcogenHover: #92c94d;
  --colorHalogenHover: #fe9c9d;
  --colorPoorMetalHover: #7babed;
  --colorTransitionMetalHover: #a1cbef;
  --colorLanthanideHover: #a9e7d6;
  --colorActinideHover: #86beb7;
  --colorAlkaliMetalOpen: #e25b5b;
  --colorNobleGasOpen: #cc82d4;
  --colorAlkalineEarthMetalOpen: #f99a38;
  --colorMetalloidOpen: #39abd8;
  --colorNonmetalOpen: #93b93a;
  --colorChalcogenOpen: #77af30;
  --colorHalogenOpen: #e47a7b;
  --colorPoorMetalOpen: #6a94d0;
  --colorTransitionMetalOpen: #88afd8;
  --colorLanthanideOpen: #84c7b5;
  --colorActinideOpen: #609e96;
  --spinnerColor: #fd6863;
  --textColor: black;
  --ff-body: 'Open Sans', Helvetica, Arial, sans-serif;
  --backgroundColor: rgba(255, 255, 255);
  --overlayBackgroundColor: #000;
  --inputBackgroundColor: #F7F7F7;
  --mobileSwitcherColor: #6f6f6f;
  --mobileSwitcherActiveColor: white;
  --tableToolsBackgroundColor: #F4F4F4;
  --tableToolsHoverColor: #EEEEEE;
  --tableToolsActiveColor: #E3E3E3;
  --tableToolsTextColor: black;
  --helpBackgroundColor: #FAFAFA;
  --switcherTabBackgroundColor: rgba(255, 255, 255, 0.6);
  --switcherTabHoverColor: rgba(255, 255, 255, 0.75);
  --switcherTabActiveColor: rgba(255, 255, 255, 1);
  --placeholderColor: #999;
  --caretColor: rgb(118 118 118);
  --elementFade1: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
  --elementFade2: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  --elementFade3: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
  --textButtonColor: #1992FF;
  --mobileButtonColor: #1992FF;
  --textButtonActiveColor: #1779D1;
  --tabButtonTextColor: #666;
  --tabButtonBackgroundColor: rgba(255, 255, 255, 0.9);
  --tabButtonBorderColor: #E8E8E8;
  --tabButtonActiveBackgroundColor: rgba(255, 255, 255, 0.3);
  --reactionsListSwitcherBackgroundColor: rgba(220, 220, 220, 0.6);
  --reactionsListSwitcherSelectedColor: rgba(0, 0, 0, 0.22);
}

/*
=================
Resets
=================
*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: transparent;
}

li {
  list-style: none;
}

/*
=================
Body Styles 
=================
*/

body {
  font-family: var(--ff-body);
  background-color: var(--backgroundColor);
}