.modeSwitcherContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.modeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 6.25rem;
  border: transparent;
  background-color: var(--modeSwitcherColorModeBackgroundColor);
}

.modeSwitcher:first-child {
  border-radius: .5rem 0 0 .5rem;
}

.modeSwitcher:last-child {
  border-radius: 0 .5rem .5rem 0;
}

.isActiveColorMode:first-child {
  background-color: var(--modeSwitcherColorModeActiveBackground);
}

.isActivePhotoMode:first-child {
  background-color: var(--modeSwitcherPhotoModeBackgroundColor);
}

.isActivePhotoMode:last-child {
  background-color: var(--modeSwitcherPhotoModeActiveBackgroundColor);
}

.modeSwitcherButton {
  width: 5rem;
  height: 6.25rem;
  border: transparent;
  background-color: transparent;
}

.modeSwitcherIcon {
  width: 32px;
  height: 32px;
}

.modeSwitcherMenuTitle {
  font-size: .8125rem;
  text-align: center;
  font-weight: 500;
  color: var(--textColor);
}

.photoModeMenuTitle {
  color: var(--modeSwitcherPhotoModeTextColor);
}

body.photoModeActive {
  background-image: url('../assets/images/background/static-nebula.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}