.modeSwitcherContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding-top: 3.5rem;
}

.modeSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 6.25rem;
  border: transparent;
  background-color: var(--modeSwitcherBackgroundColor);
}

.modeSwitcher:first-child {
  border-radius: .5rem 0 0 .5rem;
}

.modeSwitcher:last-child {
  border-radius: 0 .5rem .5rem 0;
}

.modeSwitcherActive {
  background-color: var(--modeSwitcherActiveBackgroundColor);
}

.modeSwitcherIcon {
  width: 32px;
  height: 32px;
}

.modeSwitcherMenuTitle {
  font-size: .8125rem;
  text-align: center;
  font-weight: 500;
  color: var(--modeSwitcherTextColor);
}