.modeSwitcherContainer {
  width: 96%;
  height: 2.5rem;
  position: fixed;
  top: 38.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--reactionsListSwitcherBackgroundColor);
  border-radius: 3.125rem;
  padding: .25rem;
  backdrop-filter: blur(10px);
  z-index: 1;
  display: flex;
  align-items: center;
}

.modeSwitcherActive {
  position: absolute;
  display: block;
  content: '';
  background-color: var(--reactionsListSwitcherSelectedColor);
  width: calc(50% - .25rem);
  height: 2rem;
  border-radius: 2.5rem;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.infoActive {
  transform: translate(0);
}

.photoActive {
  transform: translate(100%);
}

.modeSwitcherPhoto {
  width: 50%;
  font-size: 1.125rem;
  text-align: center;
  transition: all 0.7s ease-in-out;
}

.modeSwitcherInfo {
  width: 50%;
  font-size: 1.125rem;
  text-align: center;
  transition: all 0.7s ease-in-out;
}

.photoModeActive {
  color: var(--mobileSwitcherActiveColor);
}

.infoModeActive {
  color: var(--mobileSwitcherActiveColor);
}