.toggleContainer {
  width: 2rem;
  height: 1.5rem;
  position: relative;
  margin: .4rem 1.5rem 0;
}

.toggleLine {
  width: 2rem;
  height: 2px;
  background: #fc6b64;
  position: absolute;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}

.toggleLine::before {
  width: 32px;
  height: 2px;
  content: '';
  position: absolute;
  top: .6rem;
  background-color: #fac05c;
}

.toggleLine::after {
  width: 2rem;
  height: 2px;
  content: '';
  position: absolute;
  top: 1.2rem;
  background-color: #75a3e2;
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: ease;
}