.overlay {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  opacity: .8;
}

.helpContainer {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 3rem;
  left: 0;
  padding-top: 1.25rem;
  color: var(--textColor);
  line-height: 1.7;
  font-size: .9375rem;
  border-radius: 1rem 1rem 0 0;
  opacity: 1;
  z-index: 7;
}

.closeBtn {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  padding: 0 1.250rem;
}

.text {
  font-size: .9375rem;
  padding: 1rem 1.250rem;
}

.animationOpen {
  animation: animationOpen .3s ease-in-out;
}

@keyframes animationOpen {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.animationClose {
  animation: animationClose .3s ease-in-out;
}

@keyframes animationClose {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}

.overlayOpen {
  animation: overlayOpen .25s ease-in-out;
}

@keyframes overlayOpen {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: .8;
  }
}