.tableRowElement {
  width: 5.3rem;
  height: 6.125rem;
  color: #fff;
  background-color: var(--colorAlkaliMetal);
  display: flex;
  flex-direction: column;
  border-radius: .5rem;

  padding: .4375rem .3125rem;
}

.atomicNumber {
  font-size: .75rem;
  font-weight: 500;
  margin-left: .125rem;
}

.symbol {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2rem;
  margin-top: -.125rem;
  margin-bottom: .125rem;
}

.name {
  font-size: .815rem;
  font-weight: 600;
}

.atomicMass {
  color: var(--textColor);
  font-size: .75rem;
  font-weight: 500;
  margin-top: .1rem;
}