.tableWrapper {
  width: 100%;
  height: auto;
  padding-top: 1.5rem;
}

.tableRowContainer {
  width: 100%;
  height: auto;
}

.tableRow {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.tableRowGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .3rem;
}