.tableSwitcherContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.tableSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 6.25rem;
  border: transparent;
  background-color: var(--tableToolsBackgroundColor);
}

.tableSwitcher:first-child {
  border-radius: .5rem 0 0 .5rem;
}

.tableSwitcher:last-child {
  border-radius: 0 .5rem .5rem 0;
}

.isActive {
  background-color: var(--tableToolsActiveColor);
}

.tableSwitcherButton {
  width: 5rem;
  height: 6.25rem;
  border: transparent;
  background-color: var(--tableToolsBackgroundColor);
}

.tableSwitcherIcon {
  width: 32px;
  height: 32px;
}

.tableSwitcherMenuTitle {
  font-size: .8125rem;
  text-align: center;
  font-weight: 500;
  color: var(--tableToolsTextColor);
}