.tableRowElement {
  width: 5.3rem;
  height: 6.125rem;
  color: #fff;
  display: flex;
  font-family: var(--font-family);
  flex-direction: column;
  border: transparent;
  justify-content: space-around;
  border-radius: .5rem;
  padding: .4375rem .3125rem;
  opacity: 0;
  transition: all .25s linear;
  cursor: pointer;
}

.show {
  opacity: 1;
}

.atomicNumber {
  font-size: .75rem;
  font-weight: 500;
  margin-left: .125rem;
}

.symbol {
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 2rem;
  margin-top: -.125rem;
  margin-bottom: .125rem;
}

.name {
  font-size: .815rem;
  font-weight: 600;
}

.atomicMass {
  color: var(--textColor);
  font-size: .75rem;
  font-weight: 500;
  margin-top: .1rem;
}

/* CSSTransition */

.closeCardEnter {
  transform: translateY(0);
}

.cardEnterActive {
  transform: translateY(100%);
  transition: transform .65s cubic-bezier(.16, 1, .3, 1) 0s, left .2s cubic-bezier(.165, .84, .44, 1) 0s, top .2s cubic-bezier(.165, .84, .44, 1);
}

.cardExit {
  transform: translateY(100%);
}

.cardExitActive {
  transform: translateY(0);
  transition: transform 200s;
}