.openToggle {
  height: 30vh;
  animation: openToggle .3s ease-in-out;
}

@keyframes openToggle {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 30vh;
    opacity: 1;
  }
}

.closeToggle {
  height: 0;
  animation: closeToggle .3s ease-in-out;
}

@keyframes closeToggle {
  from {
    opacity: 1;
    height: 30vh;
  }

  to {
    height: 0;
    opacity: 0;
  }
}