.openToggle {
  height: 11rem;
  animation: openToggle .5s ease-in-out;
}

@keyframes openToggle {
  0% {
    height: 0;
    opacity: 0;
  }

  75% {
    height: 11rem;
    opacity: 0;
  }

  100% {
    height: 11rem;
    opacity: 1;
  }
}

.closeToggle {
  height: 0;
  animation: closeToggle .5s ease-in-out;
}

@keyframes closeToggle {
  0% {
    height: 11rem;
    opacity: 1;
  }

  100% {
    height: 0;
    opacity: 0;
  }
}