.menuContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--backgroundColor);
}

.openToggle {
  animation: openToggle .15s ease-in-out;
}

@keyframes openToggle {
  from {
    opacity: 0;
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}